span {
    height: 30px;
    width: 30px;
    display: inline-block;
}

.image {
    width: 30%;
    float: left;
}

.image img {
    max-width: 250px;
    margin: 0 auto;
}

.description {
    width: 70%;
    float: left;
    text-align: left;
}

<<<<<<< HEAD
.description-card {
    margin-top: 10%;
    animation: fade-in ease 2s forwards;
=======
.description p {
    margin: 10px 0;
>>>>>>> master
}

.description-card {
    padding-top: 5%;
    border-top: 3px solid #4CD3AA; 
    animation: fade-in ease 2s forwards;
}

.descriptionText {
    max-height: 250px;
    overflow: scroll;
}

.colours {
    width: 10%;
    float: left;
    text-align: left;
    margin: 10px 10px;
}

.colours p {
    margin-bottom: 0;
}

.description .button {
    margin: 25px 0;
}

.colour {
<<<<<<< HEAD
    border-radius: 30% 40% 50% 60%;
}

=======
    border-radius: 0.8rem 0.7rem 0.6rem;
}
>>>>>>> master
