@import '../../App.css';

.form {
    box-shadow: 0 0 10px #999;
}

.formReview {
    color:#261c16;
    padding: 5%;
    margin-top: 2%;
    font-family: 'Hindi Siliguri', sans-serif;
    font-size: 1rem;
    overflow: hidden;
    width: 100%;
}

.formName,
.buyAgain {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.formName {
    text-align: center;
}

.formName input {
    border: 0;
    padding: 2%;
    box-shadow: -2px 2px #CD9875;
}
.buyAgain {
    text-align: center;
    width: 100%;
}

.buyAgain p {
    margin: 0;
    margin-bottom: 10px;
}

.buyAgainAnswer {
    /* float: left; */
    width: 60%;
    text-align: center;
    margin: 10px auto;
}

.buyAgainAnswer input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
  }

.buyAgainAnswer label {
    margin-right: 9%;
    margin-left: 3%;
}

.formCommentField,
.formButton {
    float: left;
    width: 100%;
}

.formCommentField {
    text-align: center;
}

.formCommentField textarea {
    width: 50%;
    border: 0;
    padding: 2%;
    box-shadow: -2px 2px #CD9875;
    resize: none;
}

.formButton {
    text-align: center;
    margin-top: 2%;
}

/* MEDIA QUERY 630px */

 @media (max-width: 630px) {

    .formCommentField textarea {
        width: 80%;
    }

    .formReview {
        font-size: 0.9rem;
    }

} 


