.reviews .wrapper {
    /* animation: fade-in ease 1s forwards;
    animation-delay: 2s; */
    text-align: left;
}

.form {
    animation: none;
    border-top: solid 1px #CD9875;
}

.reviews h2 {
    text-align: left;
    text-transform: uppercase;
}

.reviews .button {
    margin: 25px 0;
    padding: 10px 30px;

}

.reviews .form {
    /* background-color: #e2ede7; */
    background: url('http://api.thumbr.it/whitenoise-361x370.png?background=c7ded2ff&noise=cc9674&density=3&opacity=100');
    
}

.review {
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0;
}

.review h3, p {
    margin: 0;
}

.review p {
    float: left;
    clear: both;
}

.review h3 {
    float: left;
}

.review .date {
    float: right;
    color: grey;
    clear: none;
}

.choice {
    font-style: italic;
    margin: 10px 0;
    font-size: 0.8rem;
}