.reviews {
    animation: fade-in ease 1s forwards;
    animation-delay: 3s;
}

.reviews .button {
    margin: 25px 0;
    padding: 10px 30px;
}

.reviews .form {
    background-color: #e2ede7;
}

.review {
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    /* NEED TO CLEARFIX */
}

.review h3, p {
    margin: 0;
}

.review p {
    float: left;
    clear: both;
}

.review h3 {
    float: left;
}

.review .date {
    float: right;
    color: grey;
    clear: none;
}