ul {
    list-style-type: none;
    text-align: left;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
    width: calc(100%/4);
    margin: 20px;
    float: left;
    cursor: pointer;
    height: 300px;
}
