@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(405px);
  }
  to {
    opacity: 2;
    transform: translateY(0);
  }
}

body {
    text-align: center;
}

.wrapper {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
    font-family: 'Cormorant', serif;
    font-weight: 500;
    font-size: 5em;
    text-transform: uppercase;
}

p {
    font-family: 'Hind Siliguri',sans-serif;
}

header {
  background: url('assets/image.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
}

img {
  max-width: 150px;
  width: 100%;
  display: block;
}

main {
  background: white;
}
